*{
  border: 3px;
  padding: 3px;
}
.App {
  text-align: center;
}
.header{
  height: 20vh;
}
.form{
  border-color: black;
}
.card{
  display: grid;
  box-shadow: 9px 6px 2px #bbdde4;
  border-radius: 10px;
  margin: auto;
  max-width: 300px;
}
#deleteBtn{
  margin-left: 90%;
  cursor: pointer;
  height: 1.5em;
  width: 1.5em;
}
.form{
  display: grid;
  margin: auto;
  max-width: 300px;
}
.footer{
  padding-top: 20px;
}